@font-face {
  font-family: 'Wendy';
  src: url('../assets/fonts/wendy.ttf');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../assets/fonts/BebasNeue-Regular.ttf')
}

html * {
  font-family: 'Wendy';
}

.App {
  text-align: center;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.App-header {
  background-color: #282c34;
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .container-fluid {
    max-height: 100%;
    padding: 0px;
  }
}

.navbar {
  height: 4vh;
  * {
    font-family: 'Bebas Neue'
  }
}

.App-link {
  color: #61dafb;
}