.ToggleButton-plot-sensor {
  margin-right: 0.75em;

  > input {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
  }
}

.App-header {
  .plot-wrapper {
  padding: 15px;
  }
}