.value-wrapper {
  width: 100%;
  display: flex;
  height: 81%;
  position: absolute;
  bottom: 0px;
  padding: 0 1% 1% 1%;
  background-color: rgb(30, 37, 83);
}

.button-wrapper {
  min-height: 15%;
  width: 100vw;
  position: absolute;
  top: 4vh;
  display: grid;
}

.threshold-wrapper {
  text-align: center;
  font-size: calc(100%);
  padding-top: .25rem;

  .ValueMonitor-label {
    text-align: center;
    font-size: 2rem;
    padding: 0px;
  }
}

.FastMonitor-buttons {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  padding: 3% 5%;

  button {
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
  }

  .inc:hover {
    color: white;
    background-color: green;
  }

  .dec:hover {
    color: white;
    background-color: red;
  }
}

.num-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem .5rem;

  .ValueMonitor-label {
    padding: 0 0 0 .5rem;
    text-align: left;
  }
}