.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: darkcyan;
    border-bottom: 2px black solid;

    * {
      color: white;
    }

    span {
      padding: .5rem 1rem;

      > * {
        padding: 0 .5rem;
      }
    }

    .dropdown {
      button {
        color: red;
      }
    }
  }

  .App-header {
    position: relative;
    top: 0;
    max-height: 95vh;
    height: 100%;
    width: 100%;
    padding: .25rem 0 0 0;
    background-color: lightgrey;

    .click-wrapper {
      display: flex;
      justify-content: center;

      button {
        padding: .25rem;
      }
    }

    section.monitor-row {
      height: 100%;
      width: 100%;
    }
  }

  &.Mobile {
    .App-header {
      section.monitor-row {
        display: grid;
        grid-template-columns: repeat(3, auto);

        .threshold-wrapper {
          input.monitor-label {
            font-size: 1rem;
            width: 2.5rem;
          }
        }

        .num-wrapper {
          .monitor-label {
            font-size: 1rem;
          }
        }
      }
    }
  }

  &.Desktop {
    .App-header {
      section.monitor-row {
        display: flex;
      }
    }
  }
}