.monitor {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: .25rem;

  .monitor-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 90%;
    margin: 0 auto;

    &.even {
      button:first-child {
        border-radius: 40% 0 0 0;
        border-top: 1px grey solid;
        border-left: 1px grey solid;
        background-color: white;
      }

      button:nth-child(2) {
        border-radius: 0 40% 0 0;
        border-top: 1px grey solid;
        border-right: 1px grey solid;
        background-color: white;
      }

      button:nth-child(3), button:nth-child(4) {
        background-color: lightgrey;
      }

      button:nth-last-child(2) {
        border-radius: 0 0 0 40%;
        border-bottom: 1px grey solid;
        border-left: 1px grey solid;
        background-color: darkgrey;
      }

      button:last-child {
        border-radius: 0 0 40% 0;
        border-bottom: 1px grey solid;
        border-right: 1px grey solid;
        background-color: darkgrey;
      }
    }

    button {
      min-width: 3rem;
      width: 100%;
      font-size: 1rem;
      font-weight: bold;
      padding: .5rem 0;
      transition: background-color .2s ease-in-out, color .2s ease-in-out;

      &.inc:hover {
        color: white;
        background-color: green;
      }

      &.dec:hover {
        color: white;
        background-color: red;
      }
    }
  }

  .threshold-wrapper {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    font-weight: bold;

    input.monitor-label {
      font-size: 1.5rem;
      background-color: white;
      width: 3rem;
      text-align: end;
      margin-left: 1rem;
    }
  }

  .num-wrapper {
    margin: 0 auto;
    padding-bottom: .5rem;

    .monitor-label {
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center;
    }
  }

  .monitor-canvas {
    width: 95%;
    margin: 0 auto;
    border: 1px solid white;
    touch-action: none;
    flex: 1 0 auto;
    height: 0;
  }
}