.monitor-label {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding: .25rem 0;
}

.monitor-col {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.monitor-canvas {
  width: 95%;
  margin: 0 auto;
  border: 1px solid white;
  touch-action: none;
  flex: 1 0 auto;
  height: 0;
}

.monitor-row {
  height: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  margin: 0px;
  padding: .25rem;
  background-color: rgb(30, 37, 83);
}

.threshold-wrapper {
  text-align: center;
  font-size: calc(100%);
  padding-top: .25rem;

  .monitor-label {
    text-align: center;
    font-size: 2rem;
    padding: 0px;
  }
}

.monitor-buttons {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  padding: 3% 5%;
  min-height: 15%;

  button {
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
  }

  .inc:hover {
    color: white;
    background-color: green;
  }

  .dec:hover {
    color: white;
    background-color: red;
  }
}

.num-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem .5rem;

  .monitor-label {
    padding: 0 0 0 .5rem;
    text-align: left;
  }
}

.App-header {
  .row {
    flex-wrap: nowrap;
  }
}